*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-reg);
    font-size: var(--fs-400);
    color: hsl(var(--clr-grayBlue));
    background-color: hsl(var(--clr-darkWhite));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}


img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}